# === Data Sensitif & Rahasia ===
config.py
auth_session/

# === Folder Library (Dependencies) ===
node_modules/
.venv/
venv/
env/
__pycache__/

# === File Sampah & Hasil Testing ===
biodata.html
cek_data.py
bot_wa_unmul.py
*.jpg
*.png
*.log

# === Konfigurasi Sistem ===
.DS_Store
Thumbs.db
.env
